/* start  Glopal Rules */
/* Font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap");
body {
  font-family: "Source Sans Pro", sans-serif;
}
/* Css Custom Variable */
:root {
  --primary-color: #195383;
  --secondary-color: #93f5c5d3;
  --white: #fff;
  --transition-time: all 0.3s ease;
  --border-radius: 40px;
}
*,
*::before,
*::after,
ul {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End  Glopal Rules */
